h3, p {
    font-family: 'Montserrat', sans-serif;
}

ul {
    margin-left: 20px;
}

.curriculum__container {
    margin: 5% 15%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.curriculum_title {
    font-size: 2.25;
    font-family: 'Krona One', sans-serif;
    color: var(--cor-secundaria);
}

.curriculum__item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.curriculum__sectiontitle {
    font-size: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
